/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #333;
}

html,body,button{
  font-family: 'Montserrat', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Quicksand', sans-serif;
}

body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center;
  color: #fff;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}

body {
  background-image: url(../img/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.cover-container {
  max-width: 42em;
}

.theme {
  color: #fcdd38;
}

.dark-theme {
  color: #ffca0f;
}

.btn-primary {
  background-color: #2D9CDB;
  border-color: #2D9CDB;
  font-size: 0.87rem;
}

.squared {
  border-radius: 3px !important;
}

@media (max-width: 120em) {
  .d-flex.flex-column {
    flex: 0 0 100%;
  }
}

/*
 * Header
 */
.masthead {
  margin-bottom: 2rem;
}

.logo {
  padding: 0 1.5rem;
  max-height: 4.69rem;
  max-width: 17.56rem;
}

.masthead-brand {
  margin-bottom: 0;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}

@media (max-width: 36em) {
  .logo {
    max-height: 2.345rem;
  }
}


/*
 * Cover
 */
.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}

.cover-heading {
  font-weight: Bold;
  font-size: 2.94rem;
  line-height: 3.69rem;
}

main.col-sm-12 {
    flex: 0 0 25%;
}

@media (min-width: 48em) {
}

@media (max-width: 36em) {
  .cover {
    padding-top: 1.5rem;
  }

  main.col-sm-12 {
    flex: 0 0 35%;
  }

  .cover-heading {
    font-size: 1.6rem;
    line-height: 1.88rem;
  }
  
  .lead {
    font-size: 1.05em;
  }

  .sm-lead {
    font-size: 0.98em;
  }
}

/*
* Action
*/
action {
  width: 100%;
  position: static;
}

action .content{
  width: 100vw;
  background-color:rgba(11, 12, 13, 0.5);
  overflow-x: hidden;
  height: 20.95%;
}

action input {
  font-weight: 300;
  font-size: 0.81rem !important;
}

@media (min-width: 48em) {
}

@media (min-width: 36em) {
  action .content{
    position: absolute;
    left: 0;
  }
}

@media (max-width: 36em) {
  action .content{
  height: 100%;
  }
}

/*
 * Footer
 */
.mastfoot {
  color: rgba(255, 255, 255, .5);
}

.mastfoot .icon {
  font-size: 1.63rem;
}

.mastfoot hr {
  border-width: 0.15rem;
  border-color: rgba(79,79,79,0.2);;
}